body {
  font-family: Arial, sans-serif;
  background-color: #E3E3E3;
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: 20px auto;
  background-color: #E3E3E3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.form-section {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

.form-section.with-background {
  background-color: #D0E5F8;
}

.form-section.no-background {
  background-color: transparent;
}

.input-group {

  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #3D3D3D;
}

input[type="text"],
input[type="email"],
input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.required {
  color: red;
}

.letterWhite{
  color: white;
}

.submit-button {
  background-color: rgb(246, 144, 0);
  color: white;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(117, 40, 241);
}


footer {
  background-color: #EAEAEA;
  padding: 1rem;
  text-align: center;
}

.img-logo {
  height: 90px;
  display: inline-block;
}

header {
  background-color: rgb(42, 77, 105);
  height: 50px;
  width: 100vw;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Espacio entre logo y botón */
  height: 100%;
  width: 100%;
  align-items: center; /* Alinear elementos verticalmente */
  padding: 10px 20px; /* Ajuste de espaciado */
}

.img-logo {
  height: 60px; /* Ajusta el tamaño del logo según tu preferencia */
}

.btn-settings {
  background: rgb(207, 142, 51); /* Sin fondo */
  border-radius: 10px; /* Sin borde */
  cursor: pointer; /* Apunta con el cursor */
  padding: 5; /* Sin padding */
}

.settings-icon {
  width: 30px; /* Ajusta el tamaño de la imagen */
  height: 30px; /* Ajusta el tamaño de la imagen */
  background: none
}

.custom-container {
  background-color: #D0E5F8;
  box-shadow: none;
}