<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hobbits Heladeras Comunitarias</title>

    <!-- Custom fonts for this template -->
    <link href="/SALVACIONDDS/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/SALVACIONDDS/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/SALVACIONDDS/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="/SALVACIONDDS/gestionHeladeras.js" defer></script>
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "AIzaSyCh_vSKxgkCZrez4CJA-_VaVywEUyUNq_k",
      v: "weekly",
      // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
      // Add other bootstrap parameters as needed, using camel case.
    });
    </script>
    <style>
        #map{
            height: 500px;
            width: 100%;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color: #2a4d69">

        <!-- Logo a la izquierda -->
        <a class="navbar-brand" href="#">
            <img src="/SALVACIONDDS/img/LogoHobbitsB.png" alt="Logo" style="height: 70px; width: auto;">
        </a>
    
        <!-- Barra de navegación -->
        <ul class="navbar-nav ml-auto">
    
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-white-600 large">Usuario</span>
                    <img class="img-profile rounded-circle" src="/SALVACIONDDS/img/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <!-- Dropdown Menu Items -->
                    <a class="dropdown-item" href="/generarReporteFisica"><i class="fas fa-file-alt fa-sm fa-fw mr-2 text-gray-400"></i> Reporte semanal</a>
                    <a class="dropdown-item" href="/puntosYCanjes"><i class="fas fa-coins fa-sm fa-fw mr-2 text-gray-400"></i> Canje de puntos</a>
                    <a class="dropdown-item" href="/gestionHeladerasFisica"><i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i> Gestionar heladeras</a>
                    <a class="dropdown-item" href="/historialContribuciones"><i class="fas fa-lightbulb fa-sm fa-fw mr-2 text-gray-400"></i> Ver contribuciones</a>
                    <a class="dropdown-item" href="/historialCanjes"><i class="fas fa-history fa-sm fa-fw mr-2 text-gray-400"></i> Historial de canjes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/reporteFallaTecnicaFisica"><i class="fas fa-flag fa-sm fa-fw mr-2 text-gray-400"></i> Reportar falla técnica</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Configuración</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Cerrar Sesión</a>
                </div>
            </li>
    
        </ul>
    
    </nav>
    <div>
        <a href="/inicioPersonaFisica" style="position: absolute; top: 80px; left: 35px; color: #000000; font-size: 24px;">
            <i class="fas fa-arrow-left"></i> Volver
        </a>
    </div>

    <div class="container mt-5">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="row justify-content-center">
                <!-- Título centrado arriba -->
                <div class="col-12 text-center p-3">
                    <h1 class="h4 text-gray-900 mb-2">Gestionar Heladera</h1>
                </div>
                <!-- Campo de entrada -->
                <div class="col-12 p-3">
                    <div id="map"></div>
                  </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Tipo Alerta</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{#alertas}}
                                <tr>
                                    <td>{{fecha}}</td>
                                    <td>{{hora}}</td>
                                    <td>{{tipoAlerta}}</td>
                                </tr>
                            {{/alertas}}
                            <!-- -->


                            </tbody>
                        </table>
                    </div>
                </div>
                <!--
                  <div class="col-md-6">
                    <label for="selectAction" class="form-label mx-3 my-2">Seleccione acción a realizar</label>
                    <select id="selectAction" class="form-select" disabled>
                      <option value="">-- Seleccione una acción --</option>
                      <option value="viewAlerts">Visualizar Alertas</option>
                    </select>
                  </div>
                  <div id="reportSection" class="col-12" style="display: none;">
                    
                  </div>
                  <div id="alertsSection" class="col-12 p-5" style="display: none;">
                    <h5 id="alertTitle">Alertas</h5>
                    <div id="alertsList"></div>
                  </div>
                -->

                <!-- Botón centrado
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-success btn-custom mb-3" 
                        style="background-color: #f69000; border-color: #f69000;" onclick="deseleccionar()">Confirmar</button>
                </div>
                -->
            </div>
        </div>
    </div>
    

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seguro que quieres terminar?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona "Salir" para cerrar sesión</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="/login">Salir</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/SALVACIONDDS/vendor/jquery/jquery.min.js"></script>
    <script src="/SALVACIONDDS/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/SALVACIONDDS/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/SALVACIONDDS/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/SALVACIONDDS/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/SALVACIONDDS/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/SALVACIONDDS/js/demo/datatables-demo.js"></script>

</body>

</html>