body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F5F5; /* Color de fondo actualizado */
  overflow-x: hidden; /* Evitar el desbordamiento horizontal */
}

header {
  background-color: #2A4D69;
  height: 60px; /* Altura del encabezado */
  width: 100vw;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Espacio entre logo y botón */
  align-items: center; /* Alinear elementos verticalmente */
  padding: 10px 20px; /* Ajuste de espaciado reducido */
  height: 100%; /* Asegurarse de que el contenedor ocupe toda la altura del encabezado */
}

.img-logo {
  height: 60px; /* Ajusta el tamaño del logo según tu preferencia */
}

.btn-settings {
  background: #ff8c00;
  border-radius: 10px;
  cursor: none;
  padding: 5px;
}

.btn-settings:hover {
  background-color: #ff8c00; /* Mantener el color naranja al pasar el mouse */
}

.settings-icon {
  width: 30px; /* Ancho del icono */
  height: 30px; /* Alto del icono */
}

.content {
  flex: 1; /* Permite que el contenido crezca */
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 20px auto; /* Centrar el contenido */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  background-color: transparent; /* Fondo transparente para el contenido */
}

.mapa-foto {
  width: 100%; /* Ajustar el mapa al 100% del contenedor */
  height: auto; /* Mantener la proporción */
}

/* Estilo para los campos de entrada */
input[type="number"],
input[type="date"] {
  background-color: #BDCADE; /* Color de fondo para los campos de entrada */
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 20px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  width: 100%; /* Ajustar al 100% del contenedor */
}

/* Estilo para el botón "Realizar distribución..." */
.btn-primary {
  background-color: #ff8c00; /* Color del botón */
  border: none; /* Sin borde */
  border-radius: 20px; /* Bordes redondeados */
  color: white; /* Color del texto */
  padding: 10px 60px; /* Espaciado interno */
  text-align: center; /* Centrar texto */
  display: block; /* Para centrar el botón */
  margin: 20px auto; /* Centrar el botón horizontalmente */
  width: 100%; /* Ajustar al 100% del contenedor */
  max-width: 300px; /* Ancho máximo del botón */
  white-space: nowrap;
}

/* Estilo para el footer */





footer {
  background-color: #2a4d69;
  padding: 1rem;
  text-align: center;
  color: white;
  margin-top: auto;
}


.dropdown-item img {
  width: 20px; /* Ancho máximo */
  height: 20px; /* Alto máximo */
  object-fit: contain; /* Asegura que la imagen mantenga su proporción */
  margin-right: 8px; /* Espaciado entre el ícono y el texto */
}

/* Estilo para el botón de heladera */
.btn-secondary.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px; /* Ajustar el espaciado interno */
  width: 100%; /* Asegurar que ocupe todo el ancho disponible */
  max-width: 100%; /* Evitar que se agrande más allá del límite */
  border-radius: 20px; /* Mantener bordes redondeados */
}

.btn-secondary.dropdown-toggle img {
  width: 20px; /* Asegurarse de que la imagen no sea demasiado grande */
  height: 20px; /* Ajustar la altura de la imagen */
  object-fit: contain; /* Mantener la proporción de la imagen */
  margin-right: 10px; /* Espaciado entre la imagen y el texto */
}


