body, html {
  width: 100%;
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F5F5;
}
/* Para Chrome, Safari, Opera */
body::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento en WebKit browsers */
}
.content {
  width: 100%; /* Asegura que el contenido no exceda el ancho de la pantalla */
  box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Permite que el contenedor crezca */
}

.login-container {
  background-color: #B9F4A7;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-btn {
  background-color: #FFA500;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.login-btn:hover {
  background-color: #FF8C00;
}

.register-link {
  margin-top: 5px;
  display: block;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.register-link span {
  display: inline-block;
  background-color: #800080;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}

footer {
  background-color: #2a4d69;
  padding: 1rem;
  text-align: center;
  color: white;
  margin-top: auto;
}
.img-logo {
  height: 60px; /* Altura del logo */
}

header {
  background-color: #2A4D69;
  height: 50px; /* Altura del encabezado */
  width: 100vw;
}

.custom-column{
  background-color: #FFA500;
  border-radius: 50px;
  padding: 30px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.055);
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 10px 20px; /* Espaciado interno */
}


.img-logo {
  height: 60px; /* Ajusta el tamaño del logo según tu preferencia */
}

.btn-settings {
  background: #F69000;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}

.settings-icon {
  width: 30px;
  height: 30px;
  background: none;
}

/* Asegúrate de que el body y html ocupen el 100% de la altura */
html, body {
    height: 100%;
    margin: 0;
}

/* Usar flexbox en el contenedor principal para que el footer se quede abajo */
.custom-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
}
/* Asegúrate de que el contenido principal ocupe el espacio disponible */
.container {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */

}