<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Canjes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/historialCanjes/css/histCanjes.css" rel="stylesheet">
</head>

<body>
<header>
    <div class="header-container d-flex justify-content-between align-items-center">
        <img class="img-logo" src="/puntosYCanjes/img/logov3.png" alt="logo">
        <nav class="main-nav">
        </nav>

        <!-- Dropdown -->
        <div class="dropdown">
            <button class="btn btn-settings dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <img src="/puntosYCanjes/img/settings.png" alt="Settings" class="settings-icon">
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li><button onclick="location.href='../../visualizadorReporteSemanal/html/visualizadorReporteSemanal.html'" class="dropdown-item">Ver Reporte Cemanal</button></li>
                <li><button onclick="location.href='/puntosYCanjes'" class="dropdown-item">Ver Puntos Y Canjes Disponibles</button></li>
                <li><button onclick="location.href='../../gestionHeladeras/html/gestionHeladeras.html'" class="dropdown-item">Gestion Heladeras</button></li>
                <li><button onclick="location.href='/historialContribuciones'" class="dropdown-item">Ver Contribuciones</button></li>
            </ul>
        </div>
    </div>
</header>
<div class="container my-5">
    <!-- Título -->
    <h2 class="text-center mb-4">Mis Canjes</h2>

    <!-- Tabla de canjes -->
    <table class="table table-bordered table-hover ">
        <thead>
        <tr>
            <th>Oferta</th>
            <th>Puntos Utilizados</th>
            <th>Fecha del Canje</th>
        </tr>
        </thead>
        <tbody>
        {{#historialCanjes}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{puntos}}</td>
                <td>{{fecha}}</td>
            </tr>
        {{/historialCanjes}}
        </tbody>
    </table>

    <!-- Mensaje para cuando no hay canjes -->
    {{^historialCanjes}}
        <p class="text-center">No has realizado canjes aún.</p>
    {{/historialCanjes}}
</div>

<footer class="text-center mt-5">
    <p>Empresas que colaboran con nosotros</p>
    <img src="https://via.placeholder.com/20" alt="Logo de empresa A">
    <img src="https://via.placeholder.com/20" alt="Logo de empresa B">
    <img src="https://via.placeholder.com/20" alt="Logo de empresa C">
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
