body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F5F5;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

footer {
  background-color: #3E3E3E;
  padding: 1rem;
  text-align: center;
  color: white;
}

.img-logo {
  height: 90px;
}

header {
  background-color: #2A4D69;
  height: 50px;
  width: 100vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
}

.btn-settings {
  background: #ff8c00;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}

.settings-icon {
  width: 30px;
  height: 30px;
  background: none;
}

.btn-donar {
  background-color: #F69000;
  border-radius: 20px;
  color: white;
  padding: 10px 60px;
  text-align: center;
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 300px;
}

.mapa-foto {
  max-width: 92vw;
  max-height: 100vh;
}