<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hacerse Cargo de una Heladera</title>

    <!-- Custom fonts for this template -->
    <link href="/SALVACIONDDS/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/SALVACIONDDS/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!--<link href="/hacerseCargoHeladera/css/hacerseCargoHeladera.css" rel="stylesheet">-->
    <script src="/SALVACIONDDS/distribuirTarjetas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.0.1/mustache.min.js"></script>

</head>

<body>
<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color: #2a4d69">

    <!-- Logo a la izquierda -->
    <a class="navbar-brand" href="#">
        <img src="/SALVACIONDDS/img/LogoHobbitsB.png" alt="Logo" style="height: 70px; width: auto;">
    </a>

    <!-- Barra de navegación -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-white-600 large">Usario</span>
                <img class="img-profile rounded-circle" src="/SALVACIONDDS/img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <!-- Dropdown Menu Items -->
                <a class="dropdown-item" href="#"><i class="fas fa-file-alt fa-sm fa-fw mr-2 text-gray-400"></i> Reporte semanal</a>
                <a class="dropdown-item" href="#"><i class="fas fa-coins fa-sm fa-fw mr-2 text-gray-400"></i> Canje de puntos</a>
                <a class="dropdown-item" href="#"><i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i> Gestionar heladeras</a>
                <a class="dropdown-item" href="#"><i class="fas fa-lightbulb fa-sm fa-fw mr-2 text-gray-400"></i> Ver contribuciones</a>
                <a class="dropdown-item" href="#"><i class="fas fa-history fa-sm fa-fw mr-2 text-gray-400"></i> Historial de canjes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="fas fa-flag fa-sm fa-fw mr-2 text-gray-400"></i> Reportar falla técnica</a>
                <a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Configuración</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Cerrar Sesión</a>
            </div>
        </li>

    </ul>

</nav>
<div>
    <a href="/SALVACIONDDS/inicioPersonaJuridica.mustache" style="position: absolute; top: 80px; left: 35px; color: #000000; font-size: 24px;">
        <i class="fas fa-arrow-left"></i> Volver
    </a>
</div>


<div class="container mt-5">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="row justify-content-center">
            <!-- Título centrado arriba -->
            <div class="col-12 text-center p-3">
                <h1 class="h4 text-gray-900 mb-2">Hacerse cargo de una heladera</h1>
            </div>
            <!-- Formulario centrado -->
            <form method="post" action="/hacerseCargoHeladera" class="d-flex flex-column align-items-center">
                <!-- Campo de entrada -->
                <div class="col-md-9">
                    <div class="col-md-12 mb-3">
                        <label for="nomHeladera" class="form-label">Nombre heladera</label>
                        <input type="text" class="form-control shadow-sm input-smaller" id="nomHeladera" name="nomHeladera" placeholder="Nombre" required>
                    </div>

                    <div class="row mb-3 mx-3" style="background-color: #ffffff; padding: 10px; border-radius: 5px;">
                        <div class="col-md-6 mb-3">
                            <label for="tempMinima" class="form-label">Temperatura minima</label>
                            <input type="number" class="form-control shadow-sm input-smaller" id="tempMinima" name="tempMinima" placeholder="Temperatura" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="tempMaxima" class="form-label">Temperatura maxima</label>
                            <input type="number" class="form-control shadow-sm input-smaller" id="tempMaxima" name="tempMaxima" placeholder="Temperatura" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="viandasMax" class="form-label">Cantidad maxima de viandas</label>
                            <input type="number" class="form-control shadow-sm input-smaller" id="viandasMax" name="viandasMax" required>
                        </div>
                    </div>

                    <h6 class="mx-3 text-center" style="color:#444444">¿Desea colocarla en su dirección?</h6>
                    <div class="row mb-3 mx-3 text-center">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="enDomicilio" id="flexRadioDefault1"
                                       name="eleccionUbicacion" required>
                                <label class="form-check-label" for="flexRadioDefault1" style="color: #333;">
                                    Sí
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" value="puntoSugerido" id="flexRadioDefault2"
                                       name="eleccionUbicacion" required>
                                <label class="form-check-label" for="flexRadioDefault2" style="color: #333;">
                                    No
                                </label>
                            </div>
                        </div>

                        <!-- Contenedor de Domicilio -->
                        <div class="container mx-3 my-3 text-center" id="domicilio-container" style="display: none;">
                            <h5>Domicilio</h5>
                            <div class="col-md-12">
                                <input type="text" id="domicilioInput" class="form-control"
                                       value="{{#domicilio}}{{domicilio}}{{/domicilio}}{{^domicilio}}No hay domicilio cargado{{/domicilio}}"
                                       readonly style="background-color: #f1f1f1; color: #333; font-size: 0.9rem; width: 100%;">
                            </div>
                        </div>

                        <!-- Contenedor de Puntos sugeridos -->
                        <div class="container mx-3 my-3 text-center" id="puntosSugeridos-container" style="display: none;">
                            <h5>Puntos sugeridos</h5>
                            <div class="col-md-12">
                                <select class="form-select mt-3" id="puntosSugeridos" name="puntoSugerido"
                                        style="display: block; width: 100%; padding: .375rem 2.25rem .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; background-color: #fff; border-color: #dee2e6; border-radius: 7px;">
                                    <option selected>Seleccione una ubicación</option>
                                    {{#puntosSugeridos}}
                                        <option value="{{latitud}},{{longitud}},{{direccion}}">
                                            {{direccion}}
                                        </option>
                                    {{/puntosSugeridos}}
                                    {{^puntosSugeridos}}
                                        <option disabled>No hay puntos sugeridos</option>
                                    {{/puntosSugeridos}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botón centrado -->
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success btn-custom mb-3" id="submitButton"
                            style="background-color: #f69000; border-color: #f69000;">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seguro que quieres terminar?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selecciona "Salir" para cerrar sesión</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="login.html">Salir</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/SALVACIONDDS/vendor/jquery/jquery.min.js"></script>
<script src="/SALVACIONDDS/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Obtener los elementos de los radio buttons
        var radioDomicilio = document.getElementById('flexRadioDefault1');
        var radioPuntoSugerido = document.getElementById('flexRadioDefault2');

        // Obtener los contenedores de domicilio y puntos sugeridos
        var domicilioContainer = document.getElementById('domicilio-container');
        var puntosSugeridosContainer = document.getElementById('puntosSugeridos-container');

        // Obtener el botón de submit
        var submitButton = document.getElementById('submitButton');
        var domicilioInput = document.getElementById('domicilioInput');

        // Función para habilitar o deshabilitar el botón de submit
        function validateDomicilio() {
            // Si el domicilio es "No hay domicilio cargado", deshabilitar el botón
            if (domicilioInput.value === "No hay domicilio cargado") {
                submitButton.disabled = true;
            } else {
                submitButton.disabled = false;
            }
        }

        // Inicializar el estado del botón al cargar la página
        validateDomicilio();

        // Escuchar cambios en los botones de radio
        radioDomicilio.addEventListener('change', function () {
            if (radioDomicilio.checked) {
                domicilioContainer.style.display = 'block'; // Mostrar el contenedor de domicilio
                puntosSugeridosContainer.style.display = 'none'; // Ocultar el contenedor de puntos sugeridos
                validateDomicilio(); // Validar al cambiar la opción
            }
        });

        radioPuntoSugerido.addEventListener('change', function () {
            if (radioPuntoSugerido.checked) {
                domicilioContainer.style.display = 'none'; // Ocultar el contenedor de domicilio
                puntosSugeridosContainer.style.display = 'block'; // Mostrar el contenedor de puntos sugeridos
                submitButton.disabled = false; // Habilitar el botón de submit si selecciona "No"
            }
        });
    });
</script>

<!-- Core plugin JavaScript-->
<script src="/SALVACIONDDS/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/SALVACIONDDS/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/SALVACIONDDS/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/SALVACIONDDS/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/SALVACIONDDS/js/demo/datatables-demo.js"></script>

</body>

</html>