body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header-container{
  background-color: rgb(42, 77, 105);
  height: 50px;
  width: 100vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.img-logo {
  height: 60px;
}

.btn-settings {
  background: rgb(207, 142, 51); /* Sin fondo */
  border-radius: 10px; /* Sin borde */
  cursor: pointer; /* Apunta con el cursor */
  padding: 5; /* Sin padding */
}

.submit-button {
  background-color: rgb(246, 144, 0);
  color: white;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.settings-icon {
  width: 30px;
  height: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-smaller {
  width: 50%;
  margin-left: 0;
}

@media (max-width: 768px) {
  .input-smaller {
    width: 100%;
  }
}

.btn {
  background-color: rgb(246, 144, 0);
  color: white;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(208, 229, 248);
}

footer {
  background-color: #3e3e3e;
  padding: 1rem;
  text-align: center;
  color: white;
}

.container {
  width: 60%;
  margin: 20px auto;
  background-color: #E3E3E3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}