<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="/SALVACIONDDS/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/SALVACIONDDS/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color: #2a4d69">

        <!-- Logo a la izquierda -->
        <a class="navbar-brand" href="#">
            <img src="/SALVACIONDDS/img/LogoHobbitsB.png" alt="Logo" style="height: 70px; width: auto;">
        </a>
    
        <!-- Barra de navegación -->
        <ul class="navbar-nav ml-auto">
    
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-white-600 large">Usario</span>
                    <img class="img-profile rounded-circle" src="/SALVACIONDDS/img/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <!-- Dropdown Menu Items -->
                    <a class="dropdown-item" href="#"><i class="fas fa-file-alt fa-sm fa-fw mr-2 text-gray-400"></i> Reporte semanal</a>
                    <a class="dropdown-item" href="/puntosYCanjes"><i class="fas fa-coins fa-sm fa-fw mr-2 text-gray-400"></i> Canje de puntos</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i> Gestionar heladeras</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-lightbulb fa-sm fa-fw mr-2 text-gray-400"></i> Ver contribuciones</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-history fa-sm fa-fw mr-2 text-gray-400"></i> Historial de canjes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/reporteFallaTecnica"><i class="fas fa-flag fa-sm fa-fw mr-2 text-gray-400"></i> Reportar falla técnica</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Configuración</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Cerrar Sesión</a>
                </div>
            </li>
    
        </ul>
    
    </nav>
    <a href="/inicioSesion" style="position: absolute; top: 80px; left: 35px; color: #000000; font-size: 24px;">
        <i class="fas fa-arrow-left"></i> Cerrar Sesion
    </a>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-6 my-3">
                    <img class="rounded-circle" src="/inicioPersonaFisica/img/donate-money-to-charity-concept-vector.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Donar Dinero</h2>
                    <p>Colaborar donando dinero a la organización!</p>
                    <p><a class="btn btn-primary" onclick="location.href='/SALVACIONDDS/donacionDineroFisica.mustache'" role="button">Donar dinero &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-6 my-3">
                    <img class="rounded-circle" src="/inicioPersonaFisica/img/499938.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Donar Vianda</h2>
                    <p>Colaborar donando una vianda en alguna de nuestras heladeras!</p>
                    <p><a class="btn btn-primary" onclick="location.href='/SALVACIONDDS/donacionVianda.mustache'" role="button">Donar vianda &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-6 my-3">
                    <img class="rounded-circle" src="/inicioPersonaFisica/img/camion.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Distribuir Viandas</h2>
                    <p>Colaborar distribuyendo viandas entre dos heladeras!</p>
                    <p><a class="btn btn-primary" onclick="location.href='/SALVACIONDDS/distribucionViandas.mustache'" role="button">Distribuir Viandas &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-6 my-3">
                    <img class="rounded-circle" src="/inicioPersonaFisica/img/tarjetas.png" alt="Generic placeholder image" width="140" height="140">
                    <h2>Distribuir Tarjetas</h2>
                    <p>Colaborar repartiendo tarjetas a personas en situacion vulnerable y registrandolas!</p>
                    <p><a class="btn btn-primary"  onclick="location.href='/registroPersonasSv'" role="button">Ver detalles de distribucion &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div>
    </section>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seguro que quieres terminar?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona "Salir" para cerrar sesión</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="/inicioSesion">Salir</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/SALVACIONDDS/vendor/jquery/jquery.min.js"></script>
    <script src="/SALVACIONDDS/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/SALVACIONDDS/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/SALVACIONDDS/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/SALVACIONDDS/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/SALVACIONDDS/js/demo/chart-area-demo.js"></script>
    <script src="/SALVACIONDDS/js/demo/chart-pie-demo.js"></script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>