<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hobbits Heladeras Comunitarias</title>

    <!-- Custom fonts for this template-->
    <link href="SALVACIONDDS/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="SALVACIONDDS/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary" style="background-color: #2a4d69; background-image: linear-gradient(180deg,#2a4d69 10%,#2a4d69 100%);">

    <div class="container">


        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="row justify-content-center">
                        <!-- Nested Row within Card Body -->
                            
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido!</h1>
                                    </div>
                                    <form class="user" method="post" action="/login">

                                        <!-- Mensajes de error dinámicos -->
                                        {{#error}}
                                            <div id="datos-invalidos" style="color: red; margin-top: 10px;">{{error}}</div>
                                        {{/error}}

                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="exampleInputEmail" name="nombreUsuario" aria-describedby="emailHelp"
                                                placeholder="Correo electrónico">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" name="contraseniaUsuario" placeholder="Contraseña">
                                        </div>

                                        <button class="btn btn-primary btn-user btn-block" name="buttonType" value="principal" type="submit">Iniciar sesión</button>
                                        <button class="btn btn-primary btn-user btn-block" name="buttonType" value="administrador" type="submit">Iniciar sesión como administrador</button>
                                        <hr>
                                        <a href="/inicioSesionGoogle" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Iniciar con Google
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Se olvidó su contraseña? Clic acá</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" onclick="location.href='/registroUsuario'" >Crear una nueva cuenta ahora</a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="SALVACIONDDS/vendor/jquery/jquery.min.js"></script>
    <script src="SALVACIONDDS/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="SALVACIONDDS/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="SALVACIONDDS/js/sb-admin-2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>